<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>384215342468-4ufpik72lm3i5ei7an8i0aqomhjqd3jr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.384215342468-4ufpik72lm3i5ei7an8i0aqomhjqd3jr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>384215342468-b7mom8hmvql4509u0q947vu726pcmndv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCGEpmWA2yUbxSsepI-1hIm-ujF3NfdpvQ</string>
	<key>GCM_SENDER_ID</key>
	<string>384215342468</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dia.app</string>
	<key>PROJECT_ID</key>
	<string>diaapp-bb143</string>
	<key>STORAGE_BUCKET</key>
	<string>diaapp-bb143.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:384215342468:ios:b23df8f14bcc057717d1d1</string>
	<key>DATABASE_URL</key>
	<string>https://diaapp-bb143-default-rtdb.firebaseio.com</string>
</dict>
</plist>